<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.myfitplan.myfitplan">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/main_icon1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".temp"
            android:label="@string/title_activity_temp"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Personal"
            android:label="@string/title_activity_personal" />
        <activity android:name=".ForgotPassword2" />
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ChangeGoal" />
        <activity android:name=".Confirm" />
        <activity android:name=".FillingGoal">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ForgotPassword" />
        <activity
            android:name=".LoginPage"
            android:theme="@style/LoadingTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FillingLevel" />
        <activity android:name=".FillingInfo" />
        <activity android:name=".FillingWeeklyGoal" />
        <activity android:name=".AddingMeal" />
        <activity android:name=".SelectingMeal">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Pop"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".PopUpLibraryPlus"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".DiaryActivity"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".LibraryActivity"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ChangePassword" />
        <activity android:name=".DeleteAccount" />
        <activity android:name=".ChangInfo" />
        <activity
            android:name=".NewFolder"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".TargetRecord" />
    </application>

</manifest>